html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	font-family: 'Quicksand', sans-serif;
}

body {
	width: 100%;
}
/* HEADER */


header {
	background-color: #005751;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.sisu {
	display: flex;
	/*border: 1px solid red;*/
}

.sisu a {
	text-decoration: none;
}



.pealkiri {
	margin: auto;
	padding-top: 8px;
	padding-left: 30px;
	padding-right: 50px;
	font-size: 130%;
	font-weight: 400;
	color: white;
}

.logo-title {
	color: #FFA600;
	font-weight: 700;
}



.otsing {
	display: flex;
	justify-content: center;
	margin: auto;
}

.kast {
	border: 2px solid #FFA600;
	height: 45px;
	width: 500px;
	padding-left: 15px;
	color: #005751;
	font-size: 100%;
}

.nupp {
	border: 2px solid #FFA600;
	height: 45px;
	width: 45px;
	background-color: #FFA600;
	color: #005751;
	cursor: pointer;
}




.ikoonid {
	margin: auto;
	padding-left: 50px;
	padding-right: 30px;
}

.ikoonid img {
	height: 30px;
	width: 30px;
}

.ikoonid a:hover img {
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(226deg) brightness(102%) contrast(101%);
}


/* MAIN */


main {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.lingid {
	padding-top: 30px;
	padding-bottom: 30px;
	max-width: 1000px;
	/*border: 1px solid red;*/
}

.lingid span {
	font-weight: 500;
	color: #005751;
	margin: 10px;
}

.lingid a {
	font-weight: 500;
	color: #005751;
	text-decoration: none;
	margin: 10px;
}

.lingid a:hover {
	color: #FFA600;
}



.swiper-container {
	/*border: 1px solid red;*/
	width: 920px;
	height: 300px;
}
.swiper-slide img {
	width: 100%;
	object-fit: cover;
}

.swiper-button-next {
	color: #FFA600!important;
}

.swiper-button-prev {
	color: #FFA600!important;
}




.neli {
	/*border: 1px solid red;*/
	margin-top: 30px;
	width: 800px;
	height: 530px;
	display: flex;
	flex-direction: column;
}

.neliüks {
	/*border: 1px solid red;*/
	width: 800px;
	height: 250px;
	display: flex;
	justify-content: space-between;
}

.neli img {
	/*border: 1px solid red;*/
	width: 375px;
	height: 250px;
	object-fit: cover;
}

.nelikaks {
	/*border: 1px solid red;*/
	margin-top: 30px;
	width: 800px;
	height: 250px;
	display: flex;
	justify-content: space-between;
}





.kuus {
	/*border: 1px solid red;*/
	margin-top: 30px;
	width: 800px;
	height: 370px;
	margin-bottom: 30px;
}

.kuusüks {
	/*border: 1px solid red;*/
	width: 800px;
	height: 165px;
	display: flex;
	justify-content: space-between;
}

.kuus img {
	/*border: 1px solid red;*/
	width: 250px;
	height: 165px;
	object-fit: cover;
}

.kuuskaks {
	/*border: 1px solid red;*/
	margin-top: 30px;
	width: 800px;
	height: 165px;
	display: flex;
	justify-content: space-between;
}



.kuus a {
	position: relative;
}

.kuus .tekst {
	text-decoration: none;
	color: white;
	position: absolute;
	text-align: right;
	padding-top: 135px;
	padding-right: 5px;
	width: 100%;
	margin: auto;
}

.kuus img:hover {
	transform: scale(1.1);
}

.kuus .tekst:hover + img {	
	transform: scale(1.1);
}


/* FOOTER */


footer {
	background-color: #005751;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info {
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
}

.info h2 {
	font-weight:600;
	color: #FFA600;
	margin-bottom: 10px;
}

.info div {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
	margin-left: 50px;
	line-height: 25px;
	
}

.info a {
	text-decoration: none;
	color: white;
}

.info a:hover {
	color: #FFA600;
}


.sm {
	width: 100%;
	padding-top: 20px;
	background-color: #FFA600;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}

.sm img {
	width: 30px;
	height: 30px;
	margin-left: 15px;
}

.sm a:hover img {
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(226deg) brightness(102%) contrast(101%);
}

footer h1 {
	margin-top: 30px;
	font-weight: 400;
	font-size: 130%;
	color: #FFA600;
	margin-bottom: 30px;
}



/* POOD*/


.shops {
	background-color: #005751;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
}

.shops h1 {
	margin-top: 20px;
	font-size: 150%;
	margin-bottom: 20px;
	padding-right: 0px;
}

.pildid {
	/*border: 1px solid red;*/
	width: 920px;
	height: 670px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.rida {
	/*border: 1px solid red;*/
	margin-top: 30px;
	width: 880px;
	height: 195px;
	display: flex;
	justify-content: space-between;
}

.pildid img {
	border: 2px solid #FFA600;
	width: 280px;
	height: 195px;
	object-fit: cover;
}

.pildid a {
	position: relative;
}

.pildid .tekst {
	text-decoration: none;
	color: white;
	position: absolute;
	text-align: right;
	padding-top: 160px;
	padding-right: 7px;
	width: 100%;
	margin: auto;
}

.pildid img:hover {
	transform: scale(1.1);
}

.pildid .tekst:hover + img {	
	transform: scale(1.1);
}



/*SIGN IN*/


.signin {
	background-color: #005751;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
}

.signin h1 {
	margin-top: 20px;
	font-size: 150%;
	margin-bottom: 30px;
	padding-right: 0px;
}

.signin h2 {
	font-size: 130%;
	font-weight: 700;
	color: white;
}

.vasakule {
	display: flex;
	flex-direction: column;
}

.signin .kast {
	border: 2px solid white;
	background-color: #FFA600;
	color: #005751;
	height: 45px;
	width: 350px;
	padding-left: 15px;
	font-size: 100%;
}

.kastike {
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	cursor: pointer;
	font-size: 110%;
	font-weight: 700;
	color: white;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.kastike input {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.linnuke {
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #FFA600;
	border: 2px solid white;
	margin-right: 10px;
}

.kastike input:checked ~.linnuke {
	background-color: white;
	border: 2px solid #FFA600;
}

.linnuke:after {
	content: "";
	display: none;
}

.kastike input:checked ~.linnuke:after {
	display: block;
}

.kastike .linnuke:after {
	margin-left: 7px;
	margin-top: 3px;
	width: 7px;
	height: 10px;
	border: solid #FFA600;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	}


.signin button {
	margin-top: 20px;
	background-color: #FFA600;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 130%;
	height: 45px;
	width: 150px;
	border: none;
	cursor: pointer;
}

.signin button:hover {
	background-color: white;
	color: #FFA600;
}




input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


@media only screen and (max-width: 960px) {
	.kast {
		width: 250px;
	}
	
	.lingid span {
		display: none;
	}
	.info div {
		margin-right: 30px;
		margin-left: 30px;
	}
}

@media only screen and (max-width: 768px) {
	.kast {
		width: 200px;
	}
	.lingid {
		background-color: #FFA600;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.info div {
		margin-right: 15px;
		margin-left: 15px;
	}
}

@media only screen and (max-width: 547px) {
	.pealkiri {
		padding-top: 50px;
	}
}